@model ProfileViewModel
@using Newtonsoft.Json;
@using SharedModels
@using OLP_WEB.Common;
@using OLP_WEB.Controllers;
@{
	ViewData["Title"] = "Profile";
	string? UserSessionCookie = Context.Request.Cookies[Constants.NameUserSessionCookie];
	User? User = string.IsNullOrEmpty(UserSessionCookie) ? null : JsonConvert.DeserializeObject<User>(UserSessionCookie);
	if (User != null && !string.IsNullOrEmpty(UserSessionCookie))
	{
		Model.User.Name = string.IsNullOrEmpty(User.Name) ? "" : User.Name;
		Model.User.Email = string.IsNullOrEmpty(User.Email) ? "" : User.Email;
		Model.User.Phone = string.IsNullOrEmpty(User.Phone) ? "" : User.Phone;
	}
}

<div class="container mb-5">
	<div class="text-center">
		<img src="~/images/logo.jpg" width="128px" height="128px" class="my-5" />
		<h2 class="my-3">@Model.User.Name</h2>
	</div>
	<div class="row justify-content-center">
		<div class="col-4">
			<div class="row m-0 p-0">
				<div class="col m-0 p-0">
					<form asp-controller="API" asp-action="UpdateUser" method="post">
						<div class="form-group my-3">
							<label asp-for="@Model.User.Name" class="control-label">Nombre</label>
							<input asp-for="@Model.User.Name" class="form-control my-2" placeholder="@Model.User.Name" />
						</div>
						<div class="form-group my-3">
							<label asp-for="@Model.User.Email" class="control-label"></label>
							<input asp-for="@Model.User.Email" class="form-control my-2" placeholder="@Model.User.Email" />
						</div>
						<div class="form-group my-3">
							<label asp-for="@Model.User.Phone" class="control-label">Móvil</label>
							<input asp-for="@Model.User.Phone" class="form-control my-2" placeholder="@Model.User.Phone" />
						</div>
						<input type="submit" value="Guardar cambios" class="btn btn-primary container-fluid mt-3" />
					</form>
				</div>
			</div>

			<!-- CARD -->
			<div class="row m-0 p-0">
				<button class="btn btn-success mt-3" data-bs-toggle="modal" data-bs-target="#modalPassword">Cambiar la contraseña</button>

				<!-- Modal -->
				<div class="modal fade" id="modalPassword" tabindex="-1" aria-hidden="true">
					<div class="modal-dialog modal-content modal-body">
						<form asp-controller="API" asp-action="UpdatePassword" method="post">
							<div class="form-group my-3">
								<label asp-for="@Model.UserPassword.CurrentPassword" class="control-label">Contraseña actual</label>
								<input asp-for="@Model.UserPassword.CurrentPassword" class="form-control my-2" type="password" />
							</div>
							<div class="form-group my-3">
								<label asp-for="@Model.UserPassword.NewPassword" class="control-label">Nueva contraseña</label>
								<input asp-for="@Model.UserPassword.NewPassword" class="form-control my-2" type="password" />
							</div>
							<div class="form-group my-3">
								<label asp-for="@Model.UserPassword.NewPassword2" class="control-label">Repite la nueva contraseña</label>
								<input asp-for="@Model.UserPassword.NewPassword2" class="form-control my-2" type="password" />
							</div>
							<input type="submit" value="Guardar cambios" class="btn btn-primary my-3" />
						</form>
					</div>
				</div>
			</div>

			<div class="row m-0 p-0">
				<div class="col mt-3 p-0">
					<form class="m-0 p-0 me-1" asp-controller="User" asp-action="CloseSession" method="post">
						<input type="submit" class="btn btn-warning w-100" value="Cerrar Sesión" />
					</form>
				</div>
				<div class="col mt-3 p-0">
					<form class="m-0 p-0 ms-1" asp-controller="API" asp-action="DeleteUser" method="post">
						<input type="submit" class="btn btn-danger w-100" value="Eliminar Cuenta" />
					</form>
				</div>
			</div>
			@if (!string.IsNullOrEmpty(ViewBag.msgErr))
			{
				<div class="alert alert-info my-3">@ViewBag.msgErr</div>
			}
		</div>
	</div>
</div>